---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

# =========================
# Invited conference talks
# =========================

# _talks/2022-09-elliptic-integrals-in-fundamental-physics-mainz.md
---
title: "Elliptic Integrals in Fundamental Physics"
event: "Invited conference talk"
location: "Mainz, Germany"
date: 2022-09-01
talk_type: conference
invited: true
slides: https://indico.mitp.uni-mainz.de/event/212/contributions/4071/attachments/2992/3559/Giroux.pdf
---

# _talks/2023-05-radcor-2023-crieff.md
---
title: "RADCOR 2023"
event: "Invited conference talk"
location: "Crieff, Scotland"
date: 2023-05-01
talk_type: conference
invited: true
slides: https://indico.ph.ed.ac.uk/event/118/contributions/2342/
---

# _talks/2023-12-qcd-meets-gravity-geneva.md
---
title: "QCD meets Gravity"
event: "Invited conference talk"
location: "Geneva, Switzerland"
date: 2023-12-01
talk_type: conference
invited: true
slides: https://indico.cern.ch/event/1317494/contributions/5697381/attachments/2769627/4825340/MG_CERN.pdf
---

# _talks/2024-03-s-matrix-marathon-princeton.md
---
title: "S-matrix Marathon"
event: "Invited conference talk"
location: "Princeton, USA"
date: 2024-03-01
talk_type: conference
invited: true
slides: https://www.ias.edu/sns/s-matrix-marathon-daily-workshop-schedule-tuesday-march-19-2024
---

# _talks/2024-06-amplitudes-2024-princeton.md
---
title: "Amplitudes 2024"
event: "Invited conference talk"
location: "Princeton, USA"
date: 2024-06-01
talk_type: conference
invited: true
slides: https://www.ias.edu/sites/default/files/05%20amplitudes_giroux.pdf
---

# _talks/2024-06-s-matrix-bootstrap-workshop-reykjavik.md
---
title: "S-matrix Bootstrap Workshop"
event: "Invited conference talk"
location: "Reykjavik, Iceland"
date: 2024-06-01
talk_type: conference
invited: true
slides: https://bootstrapcollaboration.com/smatrix2024/
---

# _talks/2024-11-loop-the-loop-mitp.md
---
title: "Loop the Loop: Feynman calculus applied to gravity and particle physics"
event: "Hosted by MITP"
location: "Mainz, Germany"
date: 2024-11-01
talk_type: conference
invited: true
slides: https://indico.mitp.uni-mainz.de/event/423/overview
---

# _talks/2025-05-loopfest-xxiii-alberta.md
---
title: "LoopFest XXIII"
event: "Invited conference talk"
location: "University of Alberta, Canada"
date: 2025-05-01
talk_type: conference
invited: true
slides: https://indico.cern.ch/event/1446102/
---

# _talks/2025-06-surge-meeting-ucla.md
---
title: "SURGE meeting"
event: "Invited conference talk"
location: "UCLA, USA"
date: 2025-06-01
talk_type: conference
invited: true
slides: https://indico.global/event/13890/contributions/128997/attachments/60337/116191/SURGE_ucla.pdf/
---

# _talks/2025-08-agcfi-mini-workshop-mcgill.md
---
title: "Local mini-workshop on Algebraic Geometry, Combinatorics and Feynman Integrals"
event: "Invited conference talk"
location: "McGill University, Canada"
date: 2025-08-01
talk_type: conference
invited: true
slides: https://www.math.mcgill.ca/bpym/events/2025AGCFI.html
---

# _talks/2025-10-michigan-math-physics-amplitudes-workshop.md
---
title: "Michigan Math-Physics Amplitudes Workshop"
event: "Invited conference talk"
location: "University of Michigan, USA"
date: 2025-10-01
talk_type: conference
invited: true
slides: https://indico.global/event/15406/
---


# =================
# Invited seminars
# =================

# _talks/2022-02-het-journal-club-mcgill.md
---
title: "High energy theory Journal Club"
event: "McGill University"
location: "Montreal, Canada"
date: 2022-02-01
talk_type: seminar
invited: true
---

# _talks/2022-08-amplitudes-seminar-bonn.md
---
title: "Amplitudes seminar"
event: "Bonn University"
location: "Bonn, Germany"
date: 2022-08-01
talk_type: seminar
invited: true
---

# _talks/2022-09-amplitudes-seminar-nbi.md
---
title: "Amplitudes seminar"
event: "Niels Bohr Institute"
location: "Copenhagen, Denmark"
date: 2022-09-01
talk_type: seminar
invited: true
---

# _talks/2022-10-het-journal-club-mcgill.md
---
title: "High energy theory Journal Club"
event: "McGill University"
location: "Montreal, Canada"
date: 2022-10-01
talk_type: seminar
invited: true
---

# _talks/2022-11-geometry-and-scattering-amplitudes-padua-online.md
---
title: "Geometry and scattering amplitudes"
event: "Padua University"
location: "Online"
date: 2022-11-01
talk_type: seminar
invited: true
---

# _talks/2023-09-geometry-and-scattering-amplitudes-padua-online.md
---
title: "Geometry and scattering amplitudes"
event: "Padua University"
location: "Online"
date: 2023-09-01
talk_type: seminar
invited: true
---

# _talks/2023-10-amplitudes-seminar-ias.md
---
title: "Amplitudes seminar"
event: "IAS Princeton"
location: "Princeton, USA"
date: 2023-10-01
talk_type: seminar
invited: true
---

# _talks/2023-11-amplitudes-seminar-durham-online.md
---
title: "Amplitudes seminar"
event: "Durham University"
location: "Online"
date: 2023-11-01
talk_type: seminar
invited: true
---

# _talks/2023-11-amplitudes-seminar-technion-online.md
---
title: "Amplitudes seminar"
event: "Technion"
location: "Online"
date: 2023-11-01
talk_type: seminar
invited: true
---

# _talks/2023-11-amplitudes-seminar-padua-online.md
---
title: "Amplitudes seminar"
event: "Padua University"
location: "Online"
date: 2023-11-01
talk_type: seminar
invited: true
---

# _talks/2023-12-het-journal-club-mcgill.md
---
title: "High energy theory Journal Club"
event: "McGill University"
location: "Montreal, Canada"
date: 2023-12-01
talk_type: seminar
invited: true
---

# _talks/2024-11-amplitudes-seminar-ias.md
---
title: "Amplitudes seminar"
event: "IAS Princeton"
location: "Princeton, USA"
date: 2024-11-01
talk_type: seminar
invited: true
---

# _talks/2025-01-het-journal-club-mcgill.md
---
title: "High energy theory Journal Club"
event: "McGill University"
location: "Montreal, Canada"
date: 2025-01-01
talk_type: seminar
invited: true
---

# _talks/2025-01-universe-plus-seminar-mpi-online.md
---
title: "UNIVERSE+ Seminar"
event: "MPI"
location: "Online"
date: 2025-01-01
talk_type: seminar
invited: true
slides: https://positive-geometry.com/
---

# _talks/2025-09-theory-seminar-columbia.md
---
title: "Theory Seminar"
event: "Columbia University"
location: "New York, USA"
date: 2025-09-01
talk_type: seminar
invited: true
---

# _talks/2025-11-ctp-nuclear-particle-theory-seminar-mit.md
---
title: "CTP Nuclear and Particle Theory Seminar"
event: "MIT"
location: "Cambridge, USA"
date: 2025-11-01
talk_type: seminar
invited: true
---

# _talks/2025-11-theory-seminar-bonn-online.md
---
title: "Theory Seminar"
event: "Bonn University"
location: "Online"
date: 2025-11-01
talk_type: seminar
invited: true
---

# _talks/2026-01-theory-seminar-slac.md
---
title: "Theory Seminar"
event: "SLAC"
location: "Stanford, USA"
date: 2026-01-01
talk_type: seminar
invited: true
---


# =====================
# Invited public talks
# =====================

# _talks/2022-10-mont-tremblant-astronomy-club-standard-model.md
---
title: "What is the Standard Model?"
event: "Mont-Tremblant Astronomy Club"
location: "Quebec, Canada"
date: 2022-10-01
talk_type: public
invited: true
slides: https://domainesaintbernard.org/en/astronomy/
---

# _talks/2023-03-mont-tremblant-astronomy-club-lhc.md
---
title: "What is the Large Hadron Collider?"
event: "Mont-Tremblant Astronomy Club"
location: "Quebec, Canada"
date: 2023-03-01
talk_type: public
invited: true
slides: https://domainesaintbernard.org/en/astronomy/
---

# _talks/2025-02-mont-tremblant-astronomy-club-smallest-to-biggest.md
---
title: "From the smallest to biggest structures"
event: "Mont-Tremblant Astronomy Club"
location: "Quebec, Canada"
date: 2025-02-01
talk_type: public
invited: true
slides: https://domainesaintbernard.org/en/astronomy/
---


<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
