body {
  font-family: "Baskerville", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Baskerville", Times, serif;
}

figcaption {
  font-family: "Baskerville", Times, serif;
}

/* Hide entire footer (Minimal Mistakes / AcademicPages) */
.page__footer,
.site-footer {
  display: none !important;
}

